<div class="login">

    <div class="caja_log">
        <form [formGroup]="FormLg" (ngSubmit)="login()" class="log_form">
                <h3 class="log">Login</h3>

                   <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input  matInput placeholder type="text" formControlName="correo">

                    </mat-form-field>

                    <div *ngIf="FormLg.get('correo')?.errors && FormLg.get('correo')?.dirty">
                        
                        <p *ngIf="FormLg.get('correo')?.hasError('email')">Debe usar una dirección de correo valida "@"</p>
                    
                        </div>

                        <mat-form-field appearance="outline">
                        <mat-label>Contraseña</mat-label>
                        <input  matInput placeholder type="password" formControlName="clave">                
                    </mat-form-field>

                    <div *ngIf="FormLg.get('clave')?.errors && FormLg.get('clave')?.dirty">
                        <p *ngIf="FormLg.get('clave')?.hasError('required')">Este campo es obligatorio</p>
                    </div>
                    <button mat-raised-button color="accent" type="submit" [disabled]="FormLg.invalid">Registrarse</button>

        </form>
</div>
</div>