  <mat-list>
   
      <mat-list-item routerLink="/"> <mat-icon style="color:orange; font-size:30px" >shopping_cart</mat-icon><div mat-line style="font-size:x-large; color: orange;  font-weight:bold; border-bottom:3px solid orange;">E-coomerce</div></mat-list-item>
  
      <mat-list-item routerLink="/">  
        <mat-icon mat-list-icon>home</mat-icon>
        <div mat-line>Inicio</div>      
      </mat-list-item>

      <mat-list-item routerLink="/registro">
          <mat-icon mat-list-icon>fingerprint</mat-icon>
          <div mat-line>Registrarse</div>      
        </mat-list-item>

        <mat-list-item routerLink="/login">
          <mat-icon mat-list-icon>account_circle</mat-icon>
          <div mat-line>Login</div>      
        </mat-list-item>
</mat-list>



