<!--Aca tenemos que bindear el formulario con su parte logica -->
<div class="registro">
    
<div class="caja_reg">
<form [formGroup]="miFormulario" (ngSubmit)="registro()" class="formulario">
    <h3 class="reg">Registro</h3>
    <mat-form-field appearance="outline">
                
                    <mat-label>Nombre</mat-label>                   
                    <input matInput placeholder type="text" formControlName="nombre"> <!--Con "formControlName" relaciono los campos logicos del formulario con su html -->                
                
    </mat-form-field>

                    <div *ngIf="miFormulario.get('nombre')?.errors && miFormulario.get('nombre')?.dirty">                     
                        <p *ngIf="miFormulario.get('nombre')?.hasError('required')">Este campo es obligatorio</p>                
                    </div>

    <mat-form-field appearance="outline">                    
                        <mat-label>Apellido</mat-label>
                        <input matInput placeholder type="text" formControlName="apellido"> <!--Con "formControlName" relaciono los campos logicos del formulario con su html -->
    </mat-form-field>
                    
                    <div *ngIf="miFormulario.get('apellido')?.errors && miFormulario.get('apellido')?.dirty">
                        
                    <p *ngIf="miFormulario.get('apellido')?.hasError('required')">Este campo es obligatorio</p>
                    
                        </div>

    <mat-form-field appearance="outline"> 
                            <mat-label>Teléfono</mat-label>
                            <input matInput placeholder type="text" formControlName="telefono"> <!--Con "formControlName" relaciono los campos logicos del formulario con su html -->
    </mat-form-field>

    <mat-form-field appearance="outline"> 
                    <mat-label>Email</mat-label>
                    <input matInput placeholder type="text" formControlName="correo" >
    </mat-form-field>

                <div *ngIf="miFormulario.get('correo')?.errors && miFormulario.get('correo')?.dirty">
                    
                    <p *ngIf="miFormulario.get('correo')?.hasError('email')">Debe usar una dirección de correo valida "@"</p>
                
                    </div>

    <mat-form-field appearance="outline"> 
                    <mat-label>Contraseña</mat-label>
                    <input matInput placeholder type="password" formControlName="clave">
    </mat-form-field>
                

                <div *ngIf="miFormulario.get('clave')?.errors && miFormulario.get('clave')?.dirty">
                    <!--A este div lo vamos a colocar en el DOM con *ngIf. El signo de pregunta en errors evita un undefined hacia la izquierda (Es un operador javascript-->
                    <p *ngIf="miFormulario.get('clave')?.hasError('required')">Este campo es obligatorio</p>
                    <p *ngIf="miFormulario.get('clave')?.hasError('minlength')">Debe tener al menos 6 caracteres</p>
                    <p *ngIf="miFormulario.get('clave')?.hasError('maxlength')">No puede tener mas de 10 caracteres</p>

                    </div>
                <button mat-raised-button color="accent" type="submit" [disabled]="miFormulario.invalid">Registrarse</button>
</form>
</div>
</div>
